@use "../abstracts/mixins" as mixins;
@use "../themes/catppuccin" as themes;
@use "../base/typography" as typography;

@include themify(themes.$palette) {
  background-color: themed("base");
  color: themed("text");

  a {
    color: themed("rosewater");
  }
}

html {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100vw;
}

body {
  width: 768px;
  position: fixed;

  @include media(">phone", "<=desktop") {
    width: 90%;
  }
}

p,
li {
  font-family: typography.$interface-font-stack;
  font-size: 16px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: typography.$heading-font-stack;
  font-weight: 300;
}

a {
  font-family: typography.$interface-font-stack;
}
