$heading-font-stack: "Noto Serif", serif;
$interface-font-stack: "Overpass", "Open Sans", "Helvetica Neue Light",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$body-font-stack: "Rubik", "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
