{{ with .Params.hide_footer }}
<!-- No footer here! -->
{{ else }}
<p>© {{ .Site.Params.contact.name }} 2024 - {{ now.Year }}</p>
<div class="social-icons">
  <a href="mailto:{{ .Site.Params.contact.email }}">
    <iconify-icon
      class="email"
      icon="mdi:email"
      width="32"
      height="32"
    ></iconify-icon
  ></a>
  <a href="{{ .Site.Params.githubLink }}">
    <iconify-icon
      class="github"
      icon="mdi:github"
      width="32"
      height="32"
    ></iconify-icon
  ></a>
  <a href="{{ .Site.Params.linkedinLink }}">
    <iconify-icon
      class="linkedin"
      icon="mdi:linkedin"
      width="32"
      height="32"
    ></iconify-icon
  ></a>
  <a href="{{ .Site.Params.twitterLink }}">
    <iconify-icon
      class="twitter"
      icon="mdi:twitter"
      width="32"
      height="32"
    ></iconify-icon>
  </a>
</div>
{{ partialCached "footer/scripts.html" . }} {{ end }}
