@use "../abstracts/mixins" as mixins;
@use "../themes/catppuccin" as themes;

#footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 0px solid black;
  width: 100%;

  @include media(">phone", "<=desktop") {
    flex-flow: column nowrap;
  }
}

.social-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

@include themify(themes.$palette) {
  .github,
  .email {
    color: themed("text");
  }

  .linkedin,
  .twitter {
    color: themed("sky");
  }
}
