@use "../abstracts/mixins" as mixins;
@use "../themes/catppuccin" as themes;

@include themify(themes.$palette) {
  #header {
    border-bottom: 2px solid themed("surface2");
  }

  .theme-toggle-light {
    color: themed("rosewater");
  }

  .theme-toggle-dark {
    color: themed("sapphire");
  }
}

#header {
  width: 100%;
  padding-bottom: 16px;

  @include media(">phone", "<=desktop") {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

#header h1 {
  @include media(">phone", "<=desktop") {
    font-size: 28px;
  }
}

.nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  @include media(">phone", "<=desktop") {
    flex-flow: column nowrap;
    gap: 16px;
  }
}
