@use "../abstracts/mixins" as mixins;
@use "../themes/catppuccin" as themes;

@include themify(themes.$palette) {
  #header {
    border-bottom: 2px solid themed("surface2");
  }
}

#header {
  padding-bottom: 16px;
}

.nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
