@use "../base/typography" as typography;

#home-page {
  margin-bottom: 48px;
}

#home-page h2 {
  font-family: typography.$interface-font-stack;
  font-size: 2em;
  font-weight: 300;
}

.recent-posts-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  font-size: 16px;
}
