.taxonomy-title {
  text-transform: capitalize;
}

.taxonomy-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.taxonomy-list-item {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.taxonomy-list-item p {
  margin: 0;
  padding: 0;
}
